.navbar {
    width: 100%;
    height: 115px;
    padding: 0 3.5rem;
    justify-content: space-between;
}

.navbar,
.logAndSearch,
.navSearch,
.navList,
.contList,
.contList li,
.contList li a,
.listBtns,
.logBtn,
.joinPro {
    display: flex;
    align-items: center;
}

.navLogo img {
    width: 200px;
}

.logAndSearch {
    column-gap: 10px;
}

.navSearch {
    column-gap: 10px;
    padding: 5px;
    border-radius: 13px;
    border: 0px solid #ffffff;
    width: 290px;
    background: #fdf5ff;
}

.navSearch img {
    width: 36px;
    height: 35px;
    color: #ecafff
}

.navSearch input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background: inherit;
    color: #CA33F8;
    font-size: large;
}

.navSearch input::placeholder {
    color: #eec4fb;
    font-size: 16px;
}

.navList {
    width: fit-content;
}

.navList,
.contList,
.listBtns {
    column-gap: 15px;
}

.contList li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    column-gap: 5px;
    transition: .7s;
    cursor: pointer;
}

.contList li a.active {
    display: flex;
    align-items: center;
    list-style: none;
    color: #CA33F8;
    font-size: 20px;
}

.contList li a:hover {
    display: flex;
    align-items: center;
    list-style: none;
    color: #CA33F8;
    font-size: 20px;
}

.logBtn button {
    width: 117px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid var(--Gradient, #F733F8);
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #CA33F8;
}


.joinPro button {
    width: 163px;
    height: 45px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
    border-radius: 10px;
    background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
    cursor: pointer;
    border: none;
}

.navBurger,
.placeHolder {
    display: none;
}

@media (max-width: 575px) {
    .navbar {
        padding: 0 30px;
        height: 100px;
    }

    .navLogo img {
        width: 100px;
    }

    .navSearch {
        width: 250px;
        border-radius: 10px;
    }

    .navSearch img {
        width: 30px;
        height: 30px;
    }

    .navSearch input::placeholder {
        font-size: 14px;
    }

    .navList {
        position: fixed;
        left: -100vw;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: flex-start;
        width: 70vw;
        height: 100%;
        padding: 30px;
        transition: left .7s;
    }

    .navList.active,
    .placeHolder.active {
        left: 0;
    }

    .contList {
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }

    .listBtns {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        margin-top: auto;
    }

    .logBtn,
    .joinPro {
        width: 100%;
    }

    .logBtn button,
    .joinPro button {
        width: 100%;
    }

    .navBurger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
        color: #ffffff;
    }

    .burger {
        font-size: 20px;
    }

    .placeHolder {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        transition: left .7s;
        background-color: #0000004c;
        display: block;
    }
}