.hero-container {
    width: 100%;
    height: 600px;
    background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
    display: flex;
    padding: 0 3.5rem;
}

.hero-side {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.idea h1 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 0 !important;
}

.idea h1 span {
    font-weight: 700;
}

.idea h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.create-btn {
    display: flex;
    align-items: center;
    width: 227px;
    height: 50px;
    border-radius: 18px;
    overflow: hidden;
    border: none;
    outline: none;
    margin-top: 2.5rem;
}

.telegram-icon,
.create-btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telegram-icon {
    background-color: #F9A104;
    width: 25%;
    height: 100%;
}

.create-btn-text {
    width: 75%;
    height: 100%;
    text-align: center;
    font-size: 15.997px;
    font-style: normal;
    font-weight: 800;
}

.image-container {
    width: 40%;
    height: 100%;
    position: relative;
}

.image-container img {
    position: absolute;
    right: 1rem;
    bottom: 0;
}

@media (max-width: 575px) {
    .hero-container {
        padding: 0 30px;
        height: 500px;
    }

    .hero-side {
        width: 100%;
        text-align: center;
    }

    .image-container, .glassy, .glassHolder {
        display: none;
    }

    .idea {
        width: 100%;
    }

    .idea h1 {
        font-size: 50px;
    }

    .idea h3 {
        font-size: 18px;
        margin-top: 1rem;
    }

    .create-btn {
        margin: 3rem auto 0;
    }
}

@media (max-width: 428px) {
    .idea h1 {
        font-size: 40px;
    }

    .idea h3 {
        font-size: 16px;
    }
}