
.input-ctrl{
    display: flex;

}

.create-bid-collaborators button {
    width: 300px;
    margin-left: 20%;
    height: 50px;
    border-radius: 8.639px;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.create-form-save button,
.create-bid-collaborators button {
    border: 2px solid #CA33F8;
    background: #FFF;
    box-shadow: 0px 2.16px 10.799px 0px #ECF1F4;
    color: #CA33F8;
}

.create-form-submit button {
    border-radius: 8.639px;
    background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
    box-shadow: 0px 2.16px 10.799px 0px #ECF1F4;
    color: #ffffff;
} 

