.visionCard-container {
    width: 100%;
    height: 414px;
    background: #FAAC20;
    padding: 0 3.5rem;
}

.vision-details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision-Text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workflow-text {
    color: #FFF;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 20px;
}

.explore-text {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.visionImage {
    width: 40%;
    height: 100%;
    position: relative;
}

.visionImage img {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 575px) {
    .visionCard-container {
        height: 300px;
        padding: 3rem 30px;
    }

    .vision-Text {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .visionImage {
        display: none;
    }
}