.main-project-container {
  width: 100%;
  padding: 4.5rem 3.5rem;
  background: #F5F7F9;
}

.main-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-project-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.active-img,
.active-img img {
  width: 100%;
  height: 220px;
}

.active-img img {
  object-fit: cover;
}

.active-card-container {
  width: 100%;
  padding: 10px 15px;
  background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
  color: #ffffff;
}

.active-project-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.active-desc h3 {
  font-size: 22px;
}

.active-desc h5 {
  font-size: 16px;
}

.active-desc p {
  font-size: 14px;
  margin-top: 10px;
}

.active-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto !important;
}

.role-need {
  width: 65%;
}

.role-need h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

.role-need p {
  font-size: 10px;
  font-weight: 600;
}

.role-btn {
  width: 35%;
}

.role-btn button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #FFF;
  color: #2F31C8;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.viewLink {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 200px;
  height: 45px;
  margin-top: 3rem;
  text-decoration: none;
  border-radius: 10px;
  background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
  color: #ffffff;
}

.folder-icon {
  font-size: 25px;
}

.viewLink span {
  font-weight: 600;
}

@media (max-width: 575px) {
  .main-project-container {
    padding: 3rem 30px;
  }

  .main-card-container {
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
  }

  .active-project-container {
    width: 100%;
  } 
}