.creatorcard-container {
    width: 100%;
    padding: 4.5rem 3.5rem;
    align-items: center;
    column-gap: 30px;
}

.creatorcard-container,
.holdCreator {
    display: flex;
}

.photoHolder {
    overflow: hidden;
    border-radius: 20px;
    width: 500px;
    height: 480px;
    flex-shrink: 0;
}

.textHoldHead {
    margin-bottom: 2rem;
}

.photoHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textHoldCnt {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 2rem;
}

.holdCreator{
    justify-content: baseline;
    column-gap: 10px;
}

.holdBadge, .holdBadge img {
    width: 35px;
    height: 35px;
}

.holCrtTxt {
    font-weight: 700;
}

@media (max-width: 575px) {
    .creatorcard-container {
        padding: 3rem 30px;
        flex-direction: column;
        row-gap: 20px;
    }

    .create2 {
        flex-direction: column-reverse;
    }

    .photoHolder {
        width: 100%;
        height: 400px;
    }
}