.reset-main{
    padding: 44px;
    flex-direction: column;
    justify-content: center;
    row-gap: 42px;
}
.rest-btn,
.rest-btn button {
  width: 100%;
}

.rest-btn button {
  height: 40px;
  border-radius: 8.639px;
  background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
  box-shadow: 0px 2.16px 10.799px 0px #ECF1F4;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 16px;
}