.pass-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
  height: 100%;
}
.pass-img img {
  width: 70%;
}
.pass-main{
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    row-gap: 42px;
}
.pass-frm{
    width: 100%;
    flex-direction: column;
    row-gap: 32px;

}

.pass-head p {
  margin-top: 10px;
}
.pass-head h3 {
  color: #ca33f8;
  font-size: 22px;
  font-weight: 600;
}
.pass-head p {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 500;
}
.frm-pass-ctrl{
    width: 100%;
}
.frm-pass-ctrl input{
    width: 100%;
    height: 35px;
    border: 1px solid #F4F6F8;
    outline: none;
    font-weight: 500;
    background-color: #F4F6F8;
    color:#b1b1b1
}
.frm-pass-ctrl input::placeholder{
    color: #b1b1b1;
}

.frm-btn button,
.pass button {

  width: 85%;
  margin-left: 18px;
}
.pass{
    column-gap: 15px;
}
