.frm-pass-ctrl {
  width: 100%;
}

.frm-pass-ctrl input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8.639px;
  background: #F4F6F8;
  color: #B1B1B1;
  font-weight: 500;
  font-weight: 500;
}

.frm-pass-ctrl input::placeholder {
  color: #b1b1b1;
}

@media (max-width: 575px) {
  .pass-img {
    display: none !important;
  }
}