.form-sign {
  width: 100%;
  padding: 4rem 0;
  align-items: center;
  justify-content: center;
  background: #FAFCFE;
}

.form-sign,
.form-cont,
.form-main,
.form-frm,
.frm-sign-inputs,
.frm-already,
.frm-pwd-crd,
.frm-pwd-ctrl,
.onboard-link-project {
  display: flex;
}

.form-cont {
  width: 720px;
  height: 500px;
  border-radius: 50px;
  align-items: center;
  background: #FFF;
  overflow: hidden;
}

.form-img,
.form-main {
  width: 50%;
  height: 100%;
}

.form-img img {
  width: 100%;
  object-fit: cover;
}

.form-main {
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.form-header, .onboard-head {
  width: 100%;
  text-align: start;
}

.form-header h3, .onboard-head h3 {
  color: #CA33F8;
  font-size: 22px;
  font-weight: 600;
}

.form-header p, .onboard-head p {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 500;
}

.form-frm, .onboard-link-project {
  width: 100%;
  flex-direction: column;
  row-gap: 15px;
}

.frm-sign-inputs {
  flex-direction: column;
  row-gap: 20px;
}

.frm-sign-ctrl {
  width: 100%;
}

.frm-pwd-crd {
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
  color: #B1B1B1;
  font-weight: 400;
  letter-spacing: -0.923px;
}

.frm-pwd-ctrl {
  column-gap: 5px;
  align-items: center;
}

.frm-sign-ctrl input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  font-weight: 500;
}

.frm-sign-ctrl input::placeholder {
  color: #B1B1B1;
}

.frm-btn,
.frm-btn button {
  width: 100%;
}

.frm-btn button {
  height: 40px;
  border-radius: 8.639px;
  background: var(--Gradient, linear-gradient(180deg, #F733F8 0%, #2F31C8 100%));
  box-shadow: 0px 2.16px 10.799px 0px #ECF1F4;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.frm-already {
  width: 100%;
  text-align: center;
  flex-direction: column;
  row-gap: 5px;
}

.frm-already span, .view-project span {
  font-size: 14px;
}

.frm-already a {
  font-size: 14px;
  font-weight: 800;
  color: #CA33F8;
  letter-spacing: -1.074px;
  text-decoration-line: underline;
}